# Папка виртуального окружения
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Файлы, создаваемые Python
__pycache__/
*.py[cod]
*.so
*.pyo
*.pyd

# Папка настроек PyCharm
.idea/
.vscode/
*.iml

# Логи и временные файлы
*.log
*.tmp

# Системные файлы (Windows/Mac)
.DS_Store
Thumbs.db

# Переменные окружения (секреты)
.env
*.env
